### Hackthon 6, Team 3

In [58]:
# imports

import os
import base64
import joblib
import pandas as pd
import numpy as np
import category_encoders
import json
import joblib
import pickle
import math
import requests
from copy import deepcopy
import seaborn as sns
from uuid import uuid4

from sklearn.model_selection import train_test_split
from sklearn.pipeline import make_pipeline, Pipeline
from sklearn.model_selection import cross_val_score
from category_encoders import OneHotEncoder
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import StandardScaler, OneHotEncoder
from sklearn.compose import ColumnTransformer
from sklearn.model_selection import cross_val_score
from sklearn.ensemble import RandomForestClassifier
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import precision_score, recall_score, f1_score, accuracy_score, roc_auc_score

import matplotlib.pyplot as plt
import matplotlib.image as mpimg
%matplotlib inline

In [59]:
def load_data():
    df = pd.read_csv(os.path.join("data", "train.csv"))
    return df

df = load_data()
df.head()

,Unnamed: 0,admission_id,patient_id,race,gender,age,weight,admission_type_code,discharge_disposition_code,admission_source_code,...,blood_type,hemoglobin_level,blood_transfusion,max_glu_serum,A1Cresult,diuretics,insulin,change,diabetesMed,readmitted
0,62479,62479,46826964,White,Male,[80-90),?,3.0,1.0,1,...,A-,16.0,False,NONE,None,No,No,No,No,No
1,4543,4543,57647952,Caucasian,Male,[40-50),?,6.0,25.0,17,...,O+,14.2,False,>200,None,No,Yes,No,Yes,No
2,61307,61307,73513008,European,Female,[30-40),?,2.0,1.0,7,...,O+,12.7,False,None,None,No,Yes,No,Yes,No
3,43014,43014,204181182,Caucasian,Female,[40-50),?,1.0,6.0,7,...,O+,12.3,False,None,None,No,Yes,Ch,Yes,Yes
4,64051,64051,47947464,AfricanAmerican,Male,[70-80),?,1.0,11.0,5,...,O+,13.5,False,None,None,No,Yes,Ch,Yes,No

In [61]:
df.dtypes

Unnamed: 0                       int64
admission_id                     int64
patient_id                       int64
race                            object
gender                          object
age                             object
weight                          object
admission_type_code            float64
discharge_disposition_code     float64
admission_source_code            int64
time_in_hospital                 int64
payer_code                      object
medical_specialty               object
has_prosthesis                    bool
complete_vaccination_status     object
num_lab_procedures             float64
num_procedures                   int64
num_medications                float64
number_outpatient                int64
number_emergency                 int64
number_inpatient                 int64
diag_1                          object
diag_2                          object
diag_3                          object
number_diagnoses                 int64
blood_type                      object
hemoglobin_level               float64
blood_transfusion                 bool
max_glu_serum                   object
A1Cresult                       object
diuretics                       object
insulin                         object
change                          object
diabetesMed                     object
readmitted                      object
dtype: object

In [62]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 35 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   Unnamed: 0                   10000 non-null  int64
 1   admission_id                 10000 non-null  int64
 2   patient_id                   10000 non-null  int64
 3   race                         10000 non-null  object
 4   gender                       10000 non-null  object
 5   age                          9724 non-null   object
 6   weight                       9820 non-null   object
 7   admission_type_code          9856 non-null   float64
 8   discharge_disposition_code   9930 non-null   float64
 9   admission_source_code        10000 non-null  int64
 10  time_in_hospital             10000 non-null  int64
 11  payer_code                   10000 non-null  object
 12  medical_specialty            10000 non-null  object
 13  has_prosthesis               10000 non-null  bool
 14  complete_vaccination_status  10000 non-null  object
 15  num_lab_procedures           9800 non-null   float64
 16  num_procedures               10000 non-null  int64
 17  num_medications              9681 non-null   float64
 18  number_outpatient            10000 non-null  int64
 19  number_emergency             10000 non-null  int64
 20  number_inpatient             10000 non-null  int64
 21  diag_1                       10000 non-null  object
 22  diag_2                       9842 non-null   object
 23  diag_3                       10000 non-null  object
 24  number_diagnoses             10000 non-null  int64
 25  blood_type                   10000 non-null  object
 26  hemoglobin_level             10000 non-null  float64
 27  blood_transfusion            10000 non-null  bool
 28  max_glu_serum                10000 non-null  object
 29  A1Cresult                    10000 non-null  object
 30  diuretics                    10000 non-null  object
 31  insulin                      10000 non-null  object
 32  change                       10000 non-null  object
 33  diabetesMed                  10000 non-null  object
 34  readmitted                   10000 non-null  object
dtypes: bool(2), float64(5), int64(10), object(18)
memory usage: 2.5+ MB

In [63]:
# check numeric variables

df.describe()

,Unnamed: 0,admission_id,patient_id,admission_type_code,discharge_disposition_code,admission_source_code,time_in_hospital,num_lab_procedures,num_procedures,num_medications,number_outpatient,number_emergency,number_inpatient,number_diagnoses,hemoglobin_level
count,10000.000000,10000.000000,1.000000e+04,9856.000000,9930.000000,10000.000000,10000.000000,9800.000000,10000.000000,9681.000000,10000.00000,10000.000000,10000.000000,10000.000000,10000.000000
mean,40697.854000,40697.854000,1.082937e+08,2.015422,3.751762,5.748500,4.340900,42.788776,1.313200,16.032848,0.37870,0.183700,0.623100,7.409000,14.179000
std,23510.882143,23510.882143,7.735092e+07,1.425137,5.318510,4.094524,2.935839,19.666400,1.683327,8.084788,1.32373,0.818304,1.250281,1.922469,1.068013
min,0.000000,0.000000,2.232000e+03,1.000000,1.000000,1.000000,1.000000,1.000000,0.000000,1.000000,0.00000,0.000000,0.000000,1.000000,10.900000
25%,20367.250000,20367.250000,4.687067e+07,1.000000,1.000000,1.000000,2.000000,31.000000,0.000000,10.000000,0.00000,0.000000,0.000000,6.000000,13.400000
50%,40715.500000,40715.500000,9.073632e+07,1.000000,1.000000,7.000000,4.000000,44.000000,1.000000,15.000000,0.00000,0.000000,0.000000,8.000000,14.100000
75%,61071.000000,61071.000000,1.734926e+08,3.000000,4.000000,7.000000,6.000000,57.000000,2.000000,20.000000,0.00000,0.000000,1.000000,9.000000,15.000000
max,81405.000000,81405.000000,3.766467e+08,8.000000,28.000000,22.000000,14.000000,132.000000,6.000000,70.000000,35.00000,22.000000,18.000000,16.000000,18.100000

In [64]:
# check unique values

for col in df.columns:
    if col not in ['Unnamed: 0', 'admission_id', 'patient_id', 'age', 'weight', 'diag_2']:
        print("{}: {} \n".format(col, sorted(df[col].unique())))

race: ['?', 'AFRICANAMERICAN', 'African American', 'AfricanAmerican', 'Afro American', 'Asian', 'Black', 'Caucasian', 'EURO', 'European', 'Hispanic', 'Latino', 'Other', 'WHITE', 'White']

gender: ['Female', 'Male', 'Unknown/Invalid']

admission_type_code: [1.0, 2.0, 3.0, 4.0, 5.0, 6.0, 7.0, 8.0, nan]

discharge_disposition_code: [1.0, 2.0, 3.0, 4.0, 5.0, 6.0, 7.0, 8.0, 9.0, 11.0, 13.0, 14.0, 15.0, 16.0, 18.0, 23.0, 24.0, 25.0, nan, 22.0, 28.0]

admission_source_code: [1, 2, 3, 4, 5, 6, 7, 8, 9, 17, 20, 22]

time_in_hospital: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14]

payer_code: ['?', 'BC', 'CH', 'CM', 'CP', 'DM', 'HM', 'MC', 'MD', 'MP', 'OG', 'OT', 'PO', 'SI', 'SP', 'UN', 'WC']

medical_specialty: ['?', 'AllergyandImmunology', 'Anesthesiology', 'Anesthesiology-Pediatric', 'Cardiology', 'Cardiology-Pediatric', 'DCPTEAM', 'Emergency/Trauma', 'Endocrinology', 'Endocrinology-Metabolism', 'Family/GeneralPractice', 'Gastroenterology', 'Gynecology', 'Hematology', 'Hematology/Oncology', 'Hospitalist', 'InfectiousDiseases', 'InternalMedicine', 'Nephrology', 'Neurology', 'Obsterics&Gynecology-GynecologicOnco', 'Obstetrics', 'ObstetricsandGynecology', 'Oncology', 'Ophthalmology', 'Orthopedics', 'Orthopedics-Reconstructive', 'Osteopath', 'Otolaryngology', 'Pathology', 'Pediatrics', 'Pediatrics-CriticalCare', 'Pediatrics-Endocrinology', 'Pediatrics-Hematology-Oncology', 'Pediatrics-Neurology', 'Pediatrics-Pulmonology', 'PhysicalMedicineandRehabilitation', 'PhysicianNotFound', 'Podiatry', 'Psychiatry', 'Psychiatry-Addictive', 'Psychiatry-Child/Adolescent', 'Psychology', 'Pulmonology', 'Radiologist', 'Radiology', 'Resident', 'Rheumatology', 'Surgeon', 'Surgery-Cardiovascular', 'Surgery-Cardiovascular/Thoracic', 'Surgery-Colon&Rectal', 'Surgery-General', 'Surgery-Maxillofacial', 'Surgery-Neuro', 'Surgery-Plastic', 'Surgery-Thoracic', 'Surgery-Vascular', 'SurgicalSpecialty', 'Urology']

has_prosthesis: [False, True]

complete_vaccination_status: ['Complete', 'Incomplete', 'None']

num_lab_procedures: [1.0, 4.0, 9.0, 10.0, 15.0, 18.0, 22.0, 23.0, 25.0, 26.0, 29.0, 32.0, 33.0, 34.0, 35.0, 36.0, 37.0, 38.0, 39.0, 40.0, 41.0, 42.0, 43.0, 44.0, 45.0, 46.0, 47.0, 48.0, 49.0, 50.0, 51.0, 52.0, 53.0, 54.0, 55.0, 56.0, 58.0, 59.0, 60.0, 62.0, 63.0, 64.0, 66.0, 68.0, 69.0, 70.0, 74.0, 75.0, 77.0, 80.0, 86.0, 94.0, 98.0, nan, 2.0, 3.0, 5.0, 6.0, 7.0, 8.0, 11.0, 12.0, 13.0, 14.0, 16.0, 17.0, 19.0, 20.0, 21.0, 24.0, 27.0, 28.0, 30.0, 31.0, 57.0, 61.0, 65.0, 67.0, 71.0, 72.0, 73.0, 76.0, 78.0, 79.0, 81.0, 82.0, 83.0, 84.0, 85.0, 87.0, 88.0, 89.0, 90.0, 91.0, 92.0, 93.0, 95.0, 97.0, 99.0, 101.0, 103.0, 104.0, 105.0, 106.0, 109.0, 114.0, 132.0]

num_procedures: [0, 1, 2, 3, 4, 5, 6]

num_medications: [1.0, 3.0, 4.0, 5.0, 7.0, 8.0, 9.0, 10.0, 11.0, 12.0, 13.0, 14.0, 15.0, 16.0, 17.0, 18.0, 19.0, 20.0, 21.0, 22.0, 23.0, nan, 2.0, 6.0, 24.0, 25.0, 26.0, 27.0, 28.0, 29.0, 30.0, 31.0, 32.0, 33.0, 34.0, 35.0, 36.0, 37.0, 38.0, 39.0, 40.0, 41.0, 42.0, 43.0, 44.0, 45.0, 46.0, 47.0, 48.0, 49.0, 50.0, 51.0, 52.0, 53.0, 54.0, 55.0, 56.0, 57.0, 58.0, 60.0, 62.0, 63.0, 64.0, 65.0, 66.0, 67.0, 70.0]

number_outpatient: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 18, 19, 20, 22, 23, 24, 25, 28, 35]

number_emergency: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 16, 19, 20, 22]

number_inpatient: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 15, 16, 18]

diag_1: ['11', '110', '112', '131', '136', '142', '150', '151', '153', '154', '155', '156', '157', '158', '161', '162', '164', '171', '172', '173', '174', '175', '179', '182', '183', '184', '185', '188', '189', '191', '193', '196', '197', '198', '200', '202', '203', '204', '205', '208', '210', '211', '215', '217', '218', '220', '223', '225', '226', '227', '230', '233', '235', '236', '237', '238', '239', '241', '244', '245', '250', '250.01', '250.02', '250.03', '250.1', '250.11', '250.12', '250.13', '250.2', '250.21', '250.22', '250.23', '250.31', '250.32', '250.33', '250.4', '250.41', '250.42', '250.43', '250.5', '250.52', '250.6', '250.7', '250.8', '250.81', '250.82', '250.83', '250.92', '250.93', '252', '253', '255', '261', '266', '274', '275', '276', '277', '278', '280', '281', '282', '283', '284', '285', '286', '287', '288', '290', '291', '292', '293', '294', '295', '296', '297', '298', '300', '303', '304', '305', '306', '307', '308', '309', '311', '312', '320', '322', '323', '327', '331', '332', '333', '336', '337', '338', '340', '341', '344', '345', '346', '347', '348', '349', '35', '350', '351', '353', '355', '357', '359', '362', '363', '368', '375', '377', '38', '380', '383', '386', '388', '395', '396', '398', '401', '402', '403', '404', '410', '411', '413', '414', '415', '416', '42', '420', '421', '423', '424', '425', '426', '427', '428', '429', '430', '431', '432', '433', '434', '435', '436', '437', '438', '440', '441', '442', '443', '444', '446', '447', '448', '451', '452', '453', '454', '455', '456', '458', '459', '462', '464', '465', '466', '470', '473', '475', '480', '481', '482', '483', '485', '486', '487', '490', '491', '492', '493', '494', '495', '496', '500', '507', '508', '510', '511', '512', '513', '514', '515', '516', '518', '519', '521', '522', '524', '527', '528', '53', '530', '531', '532', '533', '534', '535', '536', '537', '54', '540', '541', '550', '552', '553', '555', '556', '557', '558', '560', '562', '564', '566', '567', '568', '569', '570', '571', '572', '573', '574', '575', '576', '577', '578', '579', '581', '583', '584', '585', '586', '588', '590', '591', '592', '593', '595', '596', '599', '600', '601', '604', '607', '608', '611', '614', '616', '617', '618', '620', '621', '622', '625', '626', '627', '632', '642', '644', '646', '647', '648', '652', '654', '656', '658', '659', '66', '660', '661', '663', '664', '669', '680', '681', '682', '690', '693', '694', '695', '7', '70', '705', '707', '709', '710', '711', '714', '715', '716', '717', '718', '719', '721', '722', '723', '724', '725', '726', '727', '728', '729', '730', '733', '735', '737', '738', '745', '751', '753', '756', '759', '78', '780', '781', '782', '783', '784', '785', '786', '787', '788', '789', '79', '790', '792', '793', '794', '799', '8', '800', '801', '802', '805', '807', '808', '810', '812', '813', '815', '816', '820', '821', '822', '823', '824', '825', '826', '835', '836', '840', '843', '844', '845', '846', '850', '851', '852', '853', '860', '864', '865', '866', '873', '878', '88', '892', '9', '916', '920', '921', '922', '924', '933', '935', '942', '945', '952', '955', '958', '959', '962', '963', '965', '966', '967', '969', '97', '970', '972', '973', '977', '980', '983', '989', '991', '995', '996', '997', '998', '999', '?', 'V45', 'V53', 'V54', 'V55', 'V56', 'V57', 'V58', 'V63', 'V66', 'V71']

diag_3: ['11', '110', '112', '131', '135', '138', '146', '150', '151', '153', '154', '155', '157', '161', '162', '17', '170', '171', '174', '180', '183', '185', '189', '196', '197', '198', '199', '200', '201', '202', '203', '204', '205', '208', '211', '214', '217', '218', '225', '235', '238', '242', '244', '245', '250', '250.01', '250.02', '250.03', '250.1', '250.11', '250.12', '250.13', '250.2', '250.23', '250.4', '250.41', '250.42', '250.43', '250.5', '250.51', '250.52', '250.53', '250.6', '250.7', '250.8', '250.81', '250.82', '250.83', '250.9', '250.92', '250.93', '251', '252', '253', '255', '260', '261', '262', '263', '272', '273', '274', '275', '276', '277', '278', '279', '280', '281', '282', '284', '285', '286', '287', '288', '290', '291', '292', '293', '294', '295', '296', '298', '299', '3', '300', '301', '303', '304', '305', '306', '307', '309', '310', '311', '312', '317', '318', '319', '327', '331', '332', '333', '334', '336', '337', '338', '34', '340', '342', '343', '344', '345', '346', '348', '349', '35', '351', '354', '355', '356', '357', '358', '360', '361', '362', '365', '368', '369', '373', '376', '378', '379', '38', '380', '382', '383', '384', '386', '388', '389', '394', '396', '397', '398', '401', '402', '403', '404', '405', '41', '410', '411', '412', '413', '414', '415', '416', '42', '420', '423', '424', '425', '426', '427', '428', '429', '433', '434', '435', '437', '438', '440', '441', '442', '443', '444', '445', '446', '447', '451', '453', '454', '455', '456', '457', '458', '459', '461', '462', '465', '466', '473', '478', '482', '484', '486', '487', '490', '491', '492', '493', '494', '496', '5', '507', '511', '512', '514', '515', '516', '517', '518', '519', '521', '522', '523', '528', '53', '530', '531', '532', '533', '534', '535', '536', '537', '54', '543', '552', '553', '555', '558', '560', '562', '564', '567', '568', '569', '571', '572', '573', '574', '575', '576', '577', '578', '579', '580', '581', '583', '584', '585', '586', '588', '590', '591', '592', '593', '595', '596', '598', '599', '600', '601', '604', '605', '607', '610', '611', '614', '616', '617', '618', '620', '621', '625', '626', '627', '642', '646', '647', '648', '649', '652', '654', '655', '656', '658', '659', '661', '663', '664', '665', '680', '681', '682', '685', '686', '692', '693', '694', '695', '696', '7', '70', '704', '707', '709', '710', '711', '712', '713', '714', '715', '716', '717', '718', '719', '721', '722', '723', '724', '726', '727', '728', '729', '730', '731', '733', '736', '737', '738', '741', '742', '745', '746', '747', '753', '78', '780', '781', '782', '783', '784', '785', '786', '787', '788', '789', '79', '790', '792', '793', '794', '796', '799', '8', '800', '801', '802', '805', '807', '808', '812', '814', '820', '823', '824', '825', '834', '836', '840', '841', '845', '850', '851', '860', '861', '867', '873', '883', '907', '908', '910', '913', '915', '916', '920', '922', '923', '924', '928', '935', '94', '945', '948', '956', '958', '959', '995', '996', '997', '998', '999', '?', 'E812', 'E819', 'E849', 'E858', 'E878', 'E879', 'E880', 'E884', 'E885', 'E888', 'E892', 'E905', 'E920', 'E929', 'E930', 'E931', 'E932', 'E933', 'E934', 'E935', 'E936', 'E938', 'E939', 'E941', 'E942', 'E947', 'E950', 'V02', 'V03', 'V06', 'V08', 'V09', 'V10', 'V12', 'V13', 'V14', 'V15', 'V16', 'V17', 'V23', 'V27', 'V42', 'V43', 'V44', 'V45', 'V46', 'V49', 'V54', 'V55', 'V58', 'V62', 'V63', 'V64', 'V65', 'V66', 'V70', 'V72', 'V85']

number_diagnoses: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 15, 16]

blood_type: ['A+', 'A-', 'AB+', 'AB-', 'B+', 'B-', 'O+', 'O-']

hemoglobin_level: [10.9, 11.1, 11.2, 11.3, 11.4, 11.5, 11.6, 11.7, 11.8, 11.9, 12.0, 12.1, 12.2, 12.3, 12.4, 12.5, 12.6, 12.7, 12.8, 12.9, 13.0, 13.1, 13.2, 13.3, 13.4, 13.5, 13.6, 13.7, 13.8, 13.9, 14.0, 14.1, 14.2, 14.3, 14.4, 14.5, 14.6, 14.7, 14.8, 14.9, 15.0, 15.1, 15.2, 15.3, 15.4, 15.5, 15.6, 15.7, 15.8, 15.9, 16.0, 16.1, 16.2, 16.3, 16.4, 16.5, 16.6, 16.7, 16.8, 16.9, 17.0, 17.1, 17.2, 17.3, 17.4, 17.5, 17.6, 17.8, 18.1]

blood_transfusion: [False, True]

max_glu_serum: ['>200', '>300', 'NONE', 'NORM', 'None', 'Norm']

A1Cresult: ['>7', '>8', 'None', 'Norm']

diuretics: ['No', 'Yes']

insulin: ['No', 'Yes']

change: ['Ch', 'No']

diabetesMed: ['No', 'Yes']

readmitted: ['No', 'Yes']

In [65]:
df['age'].unique()

array(['[80-90)', '[40-50)', '[30-40)', '[70-80)', '[90-100)', '[50-60)',
       '[60-70)', '[20-30)', nan, '[10-20)', '[0-10)'], dtype=object)

In [66]:
df['weight'].unique()

array(['?', nan, '[50-75)', '[25-50)', '[75-100)', '[125-150)',
       '[100-125)', '[0-25)', '[150-175)', '[175-200)'], dtype=object)

In [67]:
df['diag_2'].unique()

array(['788', '425', '250', 'V85', '276', '250.8', '998', '250.02', '584',
       '496', '250.01', '716', '250.1', '493', '280', '112', '197', '707',
       '401', '403', '428', '715', '?', '571', '995', '780', '414', '359',
       '486', '599', '287', '447', '434', '345', '919', '424', '781',
       '214', '305', '518', '300', '511', '585', '427', '295', '553',
       '285', 'E849', '705', '429', '70', '728', '201', '568', nan, '600',
       '733', '512', '411', '153', '530', '250.11', '41', 'E885', '242',
       '244', '997', '574', '250.51', '342', '785', '682', '786', '648',
       'V10', '799', '250.03', '337', '250.43', '413', '303', '250.82',
       '710', '533', '250.6', '578', '727', '492', '807', '410', '560',
       '284', '278', '198', '412', '564', 'V43', '294', '577', '293',
       'E932', '340', '296', 'V45', '595', '491', '996', '162', '402',
       '535', '151', '331', '179', '626', 'V42', '250.4', '218', '784',
       '731', '572', '618', '920', '438', '466', '693', '573', '567',
       '722', 'V58', 'E888', '250.41', '847', '614', '730', '437', '453',
       '250.92', '591', '291', '250.12', '261', 'E917', '435', '416',
       '802', '189', '253', '703', '255', '787', 'V72', 'E878', '738',
       '536', '396', '836', '531', '892', '38', '202', '211', '357',
       '864', 'V62', '292', '348', '575', '664', '174', '706', '440',
       '610', '482', '540', '557', '250.81', '723', '616', '312', '782',
       '368', '789', '304', '283', '507', '751', '465', '719', '590',
       '157', '135', 'V63', '426', '263', '250.5', '281', '681', '42',
       '805', '458', '433', '277', '333', '378', '250.42', '808', '386',
       'E934', 'V64', '272', '332', '8', '344', '196', '111', '356',
       '199', '250.7', '203', '873', '724', '53', '279', '569', '154',
       '663', '420', '204', '34', '473', '415', '452', '820', '592',
       '456', 'V46', '625', '262', '443', '729', '441', '783', '959',
       '297', '816', '481', '556', '250.93', '714', '790', '290', '910',
       '436', '282', '394', 'E942', '506', '562', '837', '759', 'E884',
       '301', 'E947', '813', '404', 'E880', '232', 'E939', '796', '515',
       '351', '349', '250.52', '576', '868', 'E930', '558', 'V12', '654',
       'V15', '185', '311', '593', '869', '642', 'V49', '617', '288',
       '250.31', '200', '721', '444', '252', '581', '451', 'V54', '223',
       '704', '684', 'V17', '208', 'E928', '607', '432', '883', '94',
       '172', '183', '822', '550', '711', '620', '397', '380', '842',
       '117', '156', '824', 'V14', '421', '250.83', '494', '490', '611',
       '350', 'E935', '644', '358', 'E919', '40', 'V23', '924', '286',
       '336', '933', '346', '275', '314', '455', '150', '758', '319',
       '794', '583', '9', '250.22', '365', '552', '487', '422', '274',
       '994', '289', '860', '999', '923', '238', '298', '753', '27',
       '537', '821', '659', '861', '852', '459', '726', '527', '152',
       '205', '260', '79', '377', '322', '826', '362', 'E819', '155',
       '922', '327', '268', '850', '661', '250.53', '309', '519', '480',
       '812', '250.13', '696', '446', '594', '320', '532', '11', '872',
       '521', '516', '462', 'V57', '138', '867', '680', '934', '258',
       '233', '191', '596', '746', 'V66', '324', '369', '31', '621',
       '647', '398', '701', '423', '565', '916', '310', '114', 'E870',
       '431', '524', 'E931', 'E968', '500', '463', 'E933', '685', 'V11',
       '460', '273', '485', '352', '307', '619', '909', '335', '717',
       '355', '478', '522', '250.91', '376', '958', '905', 'V65', '823',
       '141'], dtype=object)

In [68]:
def replace_values(df: pd.DataFrame, feature: str, replace_dict: dict):
    """
    Receives a df and replaces feature column using a replacement dictionary
    """

    df[feature] = df[feature].replace(replace_dict)
    return df

race_dict = {
    'African American': 'AfricanAmerican', 
    'Black': 'AfricanAmerican', 
    'Afro American': 'AfricanAmerican', 
    'AFRICANAMERICAN': 'AfricanAmerican',
    'White': 'Caucasian',
    'WHITE': 'Caucasian',
    'European': 'Caucasian',
    'EURO': 'Caucasian',
    'Latino': 'Hispanic',
    '?': 'Other'
    }

df = replace_values(df, 'race', race_dict)
df.head()

,Unnamed: 0,admission_id,patient_id,race,gender,age,weight,admission_type_code,discharge_disposition_code,admission_source_code,...,blood_type,hemoglobin_level,blood_transfusion,max_glu_serum,A1Cresult,diuretics,insulin,change,diabetesMed,readmitted
0,62479,62479,46826964,Caucasian,Male,[80-90),?,3.0,1.0,1,...,A-,16.0,False,NONE,None,No,No,No,No,No
1,4543,4543,57647952,Caucasian,Male,[40-50),?,6.0,25.0,17,...,O+,14.2,False,>200,None,No,Yes,No,Yes,No
2,61307,61307,73513008,Caucasian,Female,[30-40),?,2.0,1.0,7,...,O+,12.7,False,None,None,No,Yes,No,Yes,No
3,43014,43014,204181182,Caucasian,Female,[40-50),?,1.0,6.0,7,...,O+,12.3,False,None,None,No,Yes,Ch,Yes,Yes
4,64051,64051,47947464,AfricanAmerican,Male,[70-80),?,1.0,11.0,5,...,O+,13.5,False,None,None,No,Yes,Ch,Yes,No

#### Set the features

In [69]:
[col for col in df.columns if df[col].dtype == 'int64' or df[col].dtype == 'float64' ]

['Unnamed: 0',
 'admission_id',
 'patient_id',
 'admission_type_code',
 'discharge_disposition_code',
 'admission_source_code',
 'time_in_hospital',
 'num_lab_procedures',
 'num_procedures',
 'num_medications',
 'number_outpatient',
 'number_emergency',
 'number_inpatient',
 'number_diagnoses',
 'hemoglobin_level']

In [70]:
[col for col in df.columns if df[col].dtype == 'O' or df[col].dtype == 'bool']

['race',
 'gender',
 'age',
 'weight',
 'payer_code',
 'medical_specialty',
 'has_prosthesis',
 'complete_vaccination_status',
 'diag_1',
 'diag_2',
 'diag_3',
 'blood_type',
 'blood_transfusion',
 'max_glu_serum',
 'A1Cresult',
 'diuretics',
 'insulin',
 'change',
 'diabetesMed',
 'readmitted']

In [71]:
[col for col in df.columns if df[col].dtype == 'bool']

['has_prosthesis', 'blood_transfusion']

In [72]:
# set features (target, numerical features and categorical features)

target = 'readmitted'

numerical_features = ['admission_id', 'patient_id', 'admission_type_code', 'admission_source_code', 'discharge_disposition_code',
                      'admission_source_code', 'time_in_hospital', 'num_lab_procedures', 'num_procedures', 'num_medications',
                     'number_outpatient', 'number_emergency', 'number_inpatient', 'number_diagnoses', 'hemoglobin_level']

# categorical_features = ['race', 'gender', 'age', 'weight', 'payer_code', 'medical_specialty', 'has_prosthesis', 
#                         'complete_vaccination_status', 'diag_1', 'diag_2', 'diag_3', 'blood_type', 'blood_transfusion', 
#                         'max_glu_serum', 'A1Cresult', 'diuretics', 'insulin', 'change', 'diabetesMed']

categorical_features = ['race', 'age', 'weight', 'payer_code', 'medical_specialty', 
                        'complete_vaccination_status', 'diag_1', 'diag_2', 'diag_3', 'blood_type',  
                        'max_glu_serum', 'A1Cresult', 'diuretics', 'insulin', 'change', 'diabetesMed']

In [73]:
len(df.columns), (len(numerical_features) + len(categorical_features))

# we should drop 'Unnamed: 0'

(35, 31)

#### Convert target feature

In [74]:
# convert target feature to True/False

df[target].value_counts()

# df[target][df[target] == 'No'] = 0
# df[target][df[target] == 'Yes'] = 1
# df[target].astype('int32')

No     8942
Yes    1058
Name: readmitted, dtype: int64

#### train_test split

In [75]:
df = df.drop(columns=['Unnamed: 0'])
df.head()

,admission_id,patient_id,race,gender,age,weight,admission_type_code,discharge_disposition_code,admission_source_code,time_in_hospital,...,blood_type,hemoglobin_level,blood_transfusion,max_glu_serum,A1Cresult,diuretics,insulin,change,diabetesMed,readmitted
0,62479,46826964,Caucasian,Male,[80-90),?,3.0,1.0,1,2,...,A-,16.0,False,NONE,None,No,No,No,No,No
1,4543,57647952,Caucasian,Male,[40-50),?,6.0,25.0,17,4,...,O+,14.2,False,>200,None,No,Yes,No,Yes,No
2,61307,73513008,Caucasian,Female,[30-40),?,2.0,1.0,7,2,...,O+,12.7,False,None,None,No,Yes,No,Yes,No
3,43014,204181182,Caucasian,Female,[40-50),?,1.0,6.0,7,3,...,O+,12.3,False,None,None,No,Yes,Ch,Yes,Yes
4,64051,47947464,AfricanAmerican,Male,[70-80),?,1.0,11.0,5,6,...,O+,13.5,False,None,None,No,Yes,Ch,Yes,No

In [76]:
# set X_train, y_train, X_test and y_test

X = df.drop(columns=[target], axis=1)
y = df[target]

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=42)

In [77]:
len(X_train), len(y_train), len(X_test), len(y_test)

(7000, 7000, 3000, 3000)

#### set the pipeline

In [78]:
# set transformations to numerical features and categorical features

numeric_transformer = Pipeline(steps=[
    ('imputer', SimpleImputer(strategy='median')),
    ('scaler', StandardScaler())])

categorical_transformer = Pipeline(steps=[
    ('imputer', SimpleImputer(strategy='constant', fill_value='missing')),
    ('onehot', OneHotEncoder(handle_unknown='ignore'))])

preprocessor = ColumnTransformer(
    transformers=[
        ('num', numeric_transformer, numerical_features),
        ('cat', categorical_transformer, categorical_features)])


# establish the pipeline

pipeline = make_pipeline(
    preprocessor,
    RandomForestClassifier(max_depth=3, min_samples_leaf=.03, class_weight="balanced", random_state=42, n_jobs=-1),
)


# fit the model

pipeline.fit(X_train, y_train)

Pipeline(steps=[('columntransformer',
                 ColumnTransformer(transformers=[('num',
                                                  Pipeline(steps=[('imputer',
                                                                   SimpleImputer(strategy='median')),
                                                                  ('scaler',
                                                                   StandardScaler())]),
                                                  ['admission_id', 'patient_id',
                                                   'admission_type_code',
                                                   'admission_source_code',
                                                   'discharge_disposition_code',
                                                   'admission_source_code',
                                                   'time_in_hospital',
                                                   'num_lab_procedures',
                                                   'num_procedures...
                                                                   OneHotEncoder(handle_unknown='ignore'))]),
                                                  ['race', 'age', 'weight',
                                                   'payer_code',
                                                   'medical_specialty',
                                                   'complete_vaccination_status',
                                                   'diag_1', 'diag_2', 'diag_3',
                                                   'blood_type',
                                                   'max_glu_serum', 'A1Cresult',
                                                   'diuretics', 'insulin',
                                                   'change',
                                                   'diabetesMed'])])),
                ('randomforestclassifier',
                 RandomForestClassifier(class_weight='balanced', max_depth=3,
                                        min_samples_leaf=0.03, n_jobs=-1,
                                        random_state=42))])

In [80]:
# compute f1_score

y_pred = pipeline.predict(X_test)

metric = f1_score(y_test, y_pred, average='macro')

metric

0.4757030276887394

In [81]:
# get feature importance

feature_importances = pipeline.named_steps['randomforestclassifier'].feature_importances_

features = categorical_features + numerical_features

feature_imp_dict = dict(zip(features, feature_importances))

sorted_imp = sorted(feature_imp_dict.items(), key=lambda x: x[1], reverse=True)

print("Feature Importances:")
for feature, importance in sorted_imp:
    print(f"{feature}: {importance:.4f}")

Feature Importances:
diuretics: 0.0744
age: 0.0626
blood_type: 0.0616
race: 0.0453
diag_2: 0.0442
insulin: 0.0336
max_glu_serum: 0.0289
diag_3: 0.0266
medical_specialty: 0.0235
weight: 0.0230
diag_1: 0.0224
payer_code: 0.0221
A1Cresult: 0.0213
number_inpatient: 0.0142
diabetesMed: 0.0129
num_procedures: 0.0127
complete_vaccination_status: 0.0124
change: 0.0083
number_emergency: 0.0032
number_outpatient: 0.0014
patient_id: 0.0011
admission_id: 0.0000
admission_type_code: 0.0000
admission_source_code: 0.0000
discharge_disposition_code: 0.0000
time_in_hospital: 0.0000
num_lab_procedures: 0.0000
num_medications: 0.0000
number_diagnoses: 0.0000
hemoglobin_level: 0.0000

#### Serialize the files

In [82]:
TMP_DIR = '/tmp'

In [83]:
# serialize columns names, pipeline and dtypes

# column names

with open(os.path.join(TMP_DIR, 'columns.json'), 'w') as fh:
    json.dump(X_train.columns.tolist(), fh)
    
# pipeline

joblib.dump(pipeline, os.path.join(TMP_DIR, 'pipeline.pickle'))

# dtypes

with open(os.path.join(TMP_DIR, 'dtypes.pickle'), 'wb') as fh:
    pickle.dump(X_train.dtypes, fh)

#### Check descrimination issues

In [48]:
def verify_retrieve_rates(X_test, y_true, y_test, sensitive_column, threshold=0.15):
    """
    Verify retrieval rates for different `sex` instances are 
    not different by more than 10 percentage points
    
    Inputs:
        X_test: features for the test cases
        y_true: true labels for the test cases [0, 1]
        y_test: predictions for the test cases [0, 1]

    Returns: tuple of (success, rate_difference)
        success: True if the condition is satisfied, otherwise False
        rate_difference: difference between each class retrieval rates (as an absolute value) 
        
    """
    # YOUR CODE HERE
       
    issue = X_test[sensitive_column].unique()

    success = False
    rate_score = []
    for g in issue:
        mask = (X_test[sensitive_column] == g)
        rate_score.append(recall_score(y_true[mask], y_pred[mask], pos_label=1, zero_division=0))
    
    rate_difference = abs(rate_score[0] - rate_score[1])
        
    if rate_difference <= threshold:
        success = True
    
    return success, rate_difference

race_check = verify_retrieve_rates(X_test, y_true, y_test, 'race', 0.15)
race_check

In [84]:
# Ekaterina

def verify_gender_rate(X_test, y_test, y_pred):
    X_female, X_male = X_test[X_test["gender"] == "Female"], X_test[X_test["gender"] == "Male"]
    y_true_female, y_true_male = y_test[X_test["gender"] == "Female"], y_test[X_test["gender"] == "Male"]
    y_pred_female, y_pred_male = y_pred[X_test["gender"] == "Female"], y_pred[X_test["gender"] == "Male"]
    
    rate_female = f1_score(y_true_female, y_pred_female, pos_label='Yes') 
    rate_male = f1_score(y_true_male, y_pred_male, pos_label='Yes')
    
    success = True if abs(rate_male - rate_female) <= 0.15 else False
    return (success, abs(rate_male - rate_female))

verify_gender_rate(X_test, y_test, y_pred)

(True, 0.008620344413295955)

In [85]:
# Ekaterina

def verify_race_rate(X_test, y_test, y_pred):
    race_values = X_test["race"].unique()
    rates = []
    for i in range(len(race_values)):
        for j in range(i+1, len(race_values)):
            race_a, race_b = race_values[i], race_values[j]
    
            X_race_a, X_race_b = X_test[X_test["race"] == race_a], X_test[X_test["race"] == race_b]
            y_true_race_a, y_true_race_b = y_test[X_test["race"] == race_a], y_test[X_test["race"] == race_b]
            y_pred_race_a, y_pred_race_b = y_pred[X_test["race"] == race_a], y_pred[X_test["race"] == race_b]

            rate_race_a = f1_score(y_true_race_a, y_pred_race_a, pos_label='Yes') 
            rate_race_b = f1_score(y_true_race_b, y_pred_race_b, pos_label='Yes')
            rates_difference = abs(rate_race_a - rate_race_b)
            rates.append(abs(rate_race_a - rate_race_b))
    
    success = True if np.max(rates) <= 0.15 else False
    return (success, np.max(rates))

verify_race_rate(X_test, y_test, y_pred)

(True, 0.035714285714285726)

In [55]:
df['race'].value_counts()

Caucasian           6050
AfricanAmerican     1109
White                755
African American     371
WHITE                363
European             313
?                    209
Black                183
Afro American        160
Hispanic             150
Other                129
EURO                  77
Asian                 64
Latino                48
AFRICANAMERICAN       19
Name: race, dtype: int64